# ---------------- App Server ----------------
- name: Configure App Server (Nginx + PHP + MariaDB)
  hosts: app
  become: yes

  tasks:
    - name: Install Nginx, PHP, PHP-FPM, MariaDB
      ansible.builtin.dnf:
        name:
          - nginx
          - php
          - php-fpm
          - php-mysqlnd
          - mariadb105-server
        state: present

    - name: Start and enable Nginx
      ansible.builtin.systemd:
        name: nginx
        state: started
        enabled: yes

    - name: Start and enable PHP-FPM
      ansible.builtin.systemd:
        name: php-fpm
        state: started
        enabled: yes

    - name: Start and enable MariaDB
      ansible.builtin.systemd:
        name: mariadb
        state: started
        enabled: yes

    - name: Ensure web root directory exists
      ansible.builtin.file:
        path: /var/www/html
        state: directory
        owner: nginx
        group: nginx
        mode: "0755"

    - name: Deploy PHP backend file
      ansible.builtin.copy:
        src: website/api.php
        dest: /var/www/html/api.php
        owner: nginx
        group: nginx
        mode: "0644"